{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row text-center">
        {% if object_list %}
        {% for product in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$ {{ product.price }}</h1>
                    <p class="text-start m-3">{{ product.description|truncatechars:100 }}</p>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                    <a href="{% url 'product_detail' pk=product.pk %}" class="btn btn-lg btn-block btn-outline-primary">
                        Подробней</a>
                    <h4 class="my-4 font-weight-normal">
                    {% if product.active_version %}
                        <a>Текущая версия: {{ product.active_version.version_number }} ({{
                            product.active_version.version_name }})</a>
                        {% else %}
                        <a>Нет активной версии</a>
                        {% endif %}
                    </h4>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>Нет товаров.</p>
        {% endif %}
    </div>
</div>
</div>
<div class="pt-4 my-md-5 pt-md-5 border-top">{% include 'base_contacts.html' %}</div>
</div>
{% endblock %}
