<!-- menu.html -->
<a class="p-2 btn btn-outline-primary" href="{% url 'product_list' %}">Домашняя страница</a>
<a class="p-2 btn btn-outline-primary" href="{% url 'contacts' %}">Контакты</a>
<a class="p-2 btn btn-outline-primary" href="{% url 'create_view' %}">Добавить запись</a>
<a class="p-2 btn btn-outline-primary" href="{% url 'product_create' %}">Добавить товар</a>
<a class="p-2 btn btn-outline-primary" href="{% url 'post_list' %}">Просмотр записей</a>
<a class="p-2 btn btn-outline-primary" href="{% url 'version_list' %}">Список версий</a>
